<div class="card" style="width: 28rem;">
    <div class="card-body">
        This is some text within a card body.
        <form [formGroup]= "itemForm"(ngSubmit)="onSubmitItems()">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">item name</span>

                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" formControlName=" item_name" >
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Price</span>

                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" formControlName ="sale_price">
            </div>
            <button class="btn btn-primary">save</button>
        </form>
    </div>
</div>


<div class="row">
    <h1>list of items</h1>

      <mat-card class="example-card" *ngFor="let item of items">
        <mat-card-header>
          <mat-card-title>{{item.item_name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="cont">
          <p>{{item.sale_price}}</p>
          <button mat-raised-button color="primary" (click)="onPurchase(item)">Purchase</button>
        </mat-card-content>

      </mat-card>
</div>


