<div class="tab-content">
  <div class="row">
    <h1>{{ details ? "Edit Invoice" : "Create Invoice" }}</h1>

    <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th>Unit Price</th>
            <th></th>
            <th></th>
            <!-- <th></th> -->
          </tr>
        </thead>
        <!-- class="btn btn-outline-primary me-2" -->
        <tbody>
          <tr *ngFor="let el of invo.items; let i = index">
            <td>
              <button
                type="button"
                (click)="el.quantity = el.quantity - 1"
                [disabled]="quantity <= 1"
              >
                -
              </button>
              <input
                type="number"
                [(ngModel)]="el.quantity"
                name="quantity"
                required
                formControlName="quantity"
                (change)="onItemQuantityChanged(el.quantity)"
               
                
              />
              <button type="button" (click)="el.quantity = el.quantity + 1">+</button>
            </td>

            <td>
              <label> {{ el.item_name }}</label>
            </td>
            <td>{{ el.sale_price }}</td>
            <td>{{ el.quantity * el.sale_price }}</td>
          </tr>
          <tr>
            <th colspan="3">Sub total :</th>
            <td></td>
            <td>{{ invo.total_amount }}</td>
          </tr>

          <tr>
            <th colspan="3">the taxes:</th>
            <td></td>
            <td>0</td>
          </tr>
          <tr>
            <th colspan="3">the tatal amount is:</th>
            <td></td>
            <td>{{ quantity * el.sale_price }}</td>
          </tr>
        </tbody>


        <tfoot>
          <tr>
            <td colspan="3">Total:</td>
            <td>{{invo.total}}</td>
          </tr>
        </tfoot>
      </table>

      <input
        type="text"
        formControlName="customer_name"
        [(ngModel)]="customer_name"
      />

      <button type="submit">
        {{ details ? "Update Invoice" : "Create Invoice" }}
      </button>
      <button type="button" (click)="onClose()">Cancel</button>
    </form>
  </div>

  <h2>List invoices</h2>
  <form action="">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>number</th>
          <th>customer name</th>
          <th>total amount</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let invoice of invoices">
          <td>{{ invoice.id }}</td>
          <td>{{ invoice.number }}</td>
          <td>{{ invoice.customer_name }}</td>
          <td>{{ invoice.total_amount }}</td>
          <td>
            <button
              mat-raized-button
              color="primary"
              (click)="onCheckingInvoice(invoice)"
            >
              check
            </button>
            <button
              mat-raized-button
              color="red"
              (click)="ondeleteInvoices(invoice)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>

  <h1>invoice details</h1>
  <!-- <form>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>N°</th>
          <th>Invoice</th>
          <th>Item name</th>
          <th>quantity</th>
          <th>unit_price</th>
          <th>total amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of details">
          <td>{{ invoice.id }}</td>
          <td>{{ invoice.number }}</td>
          <td>{{ invoice.item_name }}</td>
          <td>{{ invoice.quantity }}</td>
          <td>{{ invoice.unit_price }}</td>
          <td>{{ invoice.total_price }}</td>
          <td>
            <button
              mat-raized-button
              color="primary"
              (click)="openDialog(invoice)"
            >
              View Details
            </button>
          </td>
          <td><button type="button" (click)="onEdit(invoice)">edit</button></td>
        </tr>
      </tbody>
    </table>

    <button type="button" class="btn btn-secondary">update</button>
  </form> -->
</div>
