<div class="header">
    <div class="card" style="width: 28rem;">
        <div class="card-body">
            This is some text within a card body.
            <form [formGroup]= "invoiceForm"(ngSubmit)="onSubmitInvoices()">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">customer name</span>
    
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" formControlName=" customer_name" >
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Price</span>
    
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" formControlName ="total_amount">
                </div>
                <button class="btn btn-primary">save</button>
            </form>
        </div>
    </div>
    
    <h2>List invoices</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>number</th>
                <th>customer name</th>
                <th>total amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let invoice of invoices">
                <td> {{invoice.id}} </td>
                <td> {{invoice.number}} </td>
                <td> in</td>
                <td> {{invoice.total_amount}} </td>
                <td><button class="btn btn-outline-primary me-2"(click)="editInvoice(invoice) ">
                        check
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal" id="modal">
    <h1>hey check well</h1>
</div>