


<mat-form-field>
  <input
    matInput
    type="number"
    placeholder="Number of Clients"
    [(ngModel)]="numberOfClients"
  />
</mat-form-field>

<h1 mat-dialog-title>Invoice Details</h1>
<div mat-dialog-content>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>N°</th>
        <th>Invoice</th>
        <th>Item name</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total Amount</th>
        <ng-container *ngFor="let client of clients">
          <th>Client {{ client.clientNumber }}</th>
        </ng-container>
        <th>Reste Non Attribuer</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ data.id }}</td>
        <td>{{ data.number }}</td>
        <td>{{ data.item_name }}</td>
        <td>{{ data.quantity }}</td>
        <td>{{ data.unit_price }}</td>
        <td>{{ data.total_price }}</td>
        <ng-container *ngFor="let client of clients">
          <td>
            <!-- {{ client.quantity }} -->

            <input
              matInput
              
              type="number"
              placeholder="0"
              [(ngModel)]="client.attributted"
              (ngModelChange)="calculateRemainingQuantity()"
              [value]="''"
            />
          </td>
        </ng-container>
        <td>{{ remainingQuantity }}</td>
      </tr>
    </tbody>
     
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onSplitInvoices()">split</button>
  <button mat-button (click)="onSaveInvoices()">Save</button>
  <button mat-button (click)="onClose()">Close</button>
</div>


 